body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://www.desktopbackground.org/download/1680x1050/2013/06/16/592767_wide-hd-car-rental-wallpapers_2048x1121_h.jpg");
    /* background-repeat: no-repeat; */
    /* filter: blur(8px); */
    /* opacity: 0.5; */
    background-size: cover;
    height: 100vh;
    width: 100vw;

  }

  .topnav {
    overflow: hidden;
    background-color: #6F2232;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #6F2232;
    color: black;
  }
  
  .topnav a.active {
    /* background-color: #4CAF50; */
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background-color: white;
    color: white;
    text-align: center;
    font-family: arial;
    margin-top: 15%;
    z-index: 2;
    /* position: absolute; */
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  @media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    body{
        background-color: #1A1A1D;
        background-image: none;
    }
  }
  
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }